body {
  font-family: 'M+ P Type-1 (basic latin) Regular';
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: smaller;
}

.txtlink,
.txtlink:visited {
  color: #4169e1;
  text-decoration: none;
  background-image: linear-gradient(90deg, transparent, #4169e1, transparent);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 0 2px;
  transition: 0.3s;
}

.txtlink:hover {
  color: #6989e6;
  background-size: 100% 1px;
  background-image: linear-gradient(90deg, transparent, #6989e6, transparent);
}

.imglink {
  transition: 0.3s;
}

.imglink:hover {
  opacity: 0.6;
}

.bold {
  font-weight: bold;
}

.fontsize24 {
  font-size: 24px;
}

.center {
  text-align: center;
}

.flexcontent {
  display: flex;
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.GitHub_icon {
  width: 5%;
  height: auto;
  margin-right: 0;
  margin-left: auto;
  position: relative;
}

.license_indication {
  width: 100%;
  position: absolute;
}

#Iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
}

#Form {
  margin: 20px;
  display: flex;
  justify-content: center;
}

#Input {
  width: 60%;
  border: solid 1px #000000;
  border-radius: 3px;
  outline: none;
}

#Input:before {
  content: "";
  display: block;
  padding-top: 50%;
}

#Input:focus {
  border-color: #4169e1;
  outline: solid 1px #4169e1;
}

#Button {
  user-select: none;
  margin: 0 2px 0 2px;
  padding: 4px 4px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  border-radius: 3px;
  border: solid 1px #4169e1;
  transition: 0.3s;
}

#Button:hover {
  color: #ffffff;
  background-color: #4169e1;
}

#Button:active {
  transform: translateY(2px);
}

#H1,
#H1:visited {
  color: #000000;
  text-decoration: none;
  background-image: linear-gradient(90deg, transparent, #000000, transparent);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 0 2px;
  transition: 0.3s;
  margin-left: auto;
  margin-right: auto;
}

#H1:hover {
  color: #3d3d3d;
  background-size: 100% 2px;
  background-image: linear-gradient(90deg, transparent, #3d3d3d, transparent);
}

#OutputDiv {
  width: 640px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border: solid 1px #000000;
  border-radius: 4px;
  overflow: hidden;
  display: grid;
  place-items: center;
}

#OutputPlaceholder {
  margin: auto;
  padding: 0;
  position: absolute;
  width: auto;
  height: auto;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}